#fond{
    background-image: url(../img/farine.png);
    background-size: cover;
    background-attachment: scroll;
    font-family: 'Cookie', cursive;
}
*{
    transition-duration: 0.5s;
}
#logo {
    width: 300px;
    height: 250px;
    float: left;
    margin-left: 50px;
    margin-top: 0px;
}
nav {  /*bar de nav*/
    margin-top: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D89237 ;
    opacity: 0.8;
    width: 70%;
    float: right;
}
nav ul { 
    transition-duration: 0ms;
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
    display: flex;  
    padding-left: 0px;
}
nav ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
   
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 0px;
       
}
nav a:hover{
    color: rgb(80, 80, 80);
}
#Box1 {
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 300px;
    float: left;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}
#Box2 {
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 300px;
    margin-left: 100px;
    float: left;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}
#Box3 {
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 300px;
    margin-left: 100px;
    float: left;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}
#Box4 {
    color: white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 300px;
    margin-left: 100px;
    float: left;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}
#Vitrine {
    height: 400px;
    width: 50%;
    margin-top: 100px;
    margin-left: 600px;
    border-radius: 25px;
}
