#fond{
    background-image: url(../img/farine.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cookie', cursive;
   
}
*{
    transition-duration: 0.5s;
}

nav {  /*bar de nav*/
    background-color: #D89237 ;
    opacity: 0.8;
}
nav ul {    
    font-weight: bold;
    font-size: 40px;
    opacity: 1;
}
nav a:hover{
    color: rgb(228, 228, 228);
}
#facade{
    border-radius: 35px;
}
#textcont{
    width: 37.5%;
}
#forms{
    float: right;
}
ol{
    list-style-type: none;
    float: right;
    text-align: left;
    font-size: 30px;
}
h1{
    font-size: 40px;
}
input{
    float: right;
    margin-right: 50px;
    height: 25px;

}
#phone{
    float: right;
    margin-top: 130px;
    font-size: 30px;
    margin-right: 365px;
    font-weight: bolder;
}
#reseaux{
    width: 200px;
    height: 100px;
}
.active{
    color: azure;
}
#Box1 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    float: left;
    margin-left: 0px;
}
#Box2 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    margin-left: 100px;
    float: left;
}
#Box3 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    margin-left: 100px;
    float: left;
}
#Box4 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    margin-left: 100px;
    float: left;
}
#Vitrine {
    margin-top: 130px;
    margin-left: 600px;
    height: 500px;
    width: 50%;
}
#patisserie {
    height: 400px;
    width: 50%;
    margin-top: 100px;
    margin-left: 600px;
    border-radius: 25px;
    float: center;
  }

::placeholder {
font-size: 20px;
}
.send-btn {
    height: 45px;
    font-size: 25px;
}
.contact p {
    font-size: 30px;
}
p {
    font-size: 26px;
}
@media screen and (max-width: 1006px)
{
    #logo{
        position: relative;
        left : calc(50% - 73.5px);
        margin-top: 90px;
            }
    nav{
        position: fixed;
    }

}
@media screen and (min-width: 1006px){
    #logo{
        position: absolute;
        margin-left: 35px;
        margin-top: 1em;
        z-index: 1300;
    }
    .carou {
        padding-right: 40px;
        margin-right: 15px; 
        padding-left: 0px;
    }
    h1{
        margin-top: 160px;
    }
}