#fond{
    background-image: url(../img/farine.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cookie', cursive;
   
}
*{
    transition-duration: 0.5s;
}
#logo{
    width: 50px;
    height: 50px;
}
/*bar de nav*/
nav {
    background-color: #D89237 ;
    opacity: 0.8;
}
nav ul {    
    font-weight: bold;
    font-size: 40px;
}
nav a:hover{
    color: rgb(228, 228, 228);
}
#facade{
    border-radius: 35px;
}
h1{
    font-size: 40px;
    margin-top: 65px;
}
.active{
    color: azure;
}
#patisserie {
    height: 400px;
    width: 50%;
    margin-top: 100px;
    margin-left: 600px;
    border-radius: 25px;
    float: center;
  }
/*contact*/
::placeholder {
font-size: 30px;
}
input {
    height: 40px;
    border: none;
    margin: 5px;
}
label {
    width: 100px;
}
textarea {
    border: none;
    margin: 5px;
}
.send-btn {
    height: 45px;
    font-size: 25px;
}
.contact p {
    font-size: 30px;
}
.contact ol {
    list-style-type: none;
    font-size: 30px;
    padding: 0;
}
#reseaux{
    width: 200px;
    height: auto;
}
.phone img{
    margin: auto 0;
}
@media screen and (max-width: 768px)
{
    .adress {
        background-color: #D89237;
        opacity: 0.8;
        width: fit-content;
        margin: 0 auto;
        border-radius: 10px;
        color: #FFF;
        text-shadow: 1px 1px 2px black; 
    }
    form ol {
        background-color: #D89237;
        opacity: 0.8;
        width: fit-content;
        margin: 0 auto;
        border-radius: 10px;
        color: #FFF;
        text-shadow: 1px 1px 2px black; 
        margin-bottom: 10px;
    }
}
/*Boulangerie*/

.boulangerie-item img {
    height: 250px;
}
.img-pain {
    border-radius: 25px;
}
@media screen and (min-width: 1200px)
{
    .boulangerie-item {
        margin: 0.25rem;
    }
    .boulangerie-row {
        display: flex;
        flex-wrap: nowrap;
    }
}