#fond{
    background-image: url(../img/farine.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cookie', cursive;
   
}
*{
    transition-duration: 0.5s;
}
#logo{
    width: 300px;
    height: 250px;
    float: left;
    margin-left: 50px;
    margin-top: 0px;
}
nav {  /*bar de nav*/
    margin-top: 5%;
    position: sticky;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D89237 ;
    opacity: 0.8;
    width: 70%;
    float: right;
}
nav ul { 
    transition-duration: 0ms;
    font-weight: bold;
    font-size: 40px;
    list-style-type: none;
    display: flex;  
    padding-left: 0px;
}
nav ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
   
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 0px;
       
}
nav a:hover{
    color: rgb(228, 228, 228);
}
#text{
    width: 60%;
    float: right;
    margin-right: 35px;
    font-size: 30px;
}
#facade{
    width: 600px;
    height: 360px;
    float: right;
    margin-left: 0px;
    margin-right: 200px;
    border-radius: 35px;
}
#contact{
    width: 55%;
    float: right;
    margin-right: 50px;
}
#textcont{
    width: 37.5%;
}
#forms{
    float: right;
}
ol{
    list-style-type: none;
    float: right;
    text-align: left;
    font-size: 30px;
}
h1{
    margin-left: 200px;
    font-size: 40px;
    margin-top: 65px;
}
input{
    float: right;
    margin-right: 50px;
    height: 25px;

}
#phone{
    float: right;
    margin-top: 130px;
    font-size: 30px;
    margin-right: 365px;
    font-weight: bolder;
}
#reseaux{
    width: 200px;
    height: 100px;
}
.active{
    color: azure;
}
#Box1 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    float: left;
    margin-left: 0px;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
    
}
#Box2 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    margin-left: 100px;
    float: left;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}
#Box3 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    margin-left: 100px;
    float: left;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}
#Box4 {
    color:white;
    text-align: center;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    margin-top: 150px;
    margin-left: 100px;
    float: left;
}
img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}
#Vitrine {
    margin-top: 130px;
    margin-left: 600px;
    height: 500px;
    width: 50%;
}
#patisserie {
    height: 400px;
    width: 50%;
    margin-top: 100px;
    margin-left: 600px;
    border-radius: 25px;
    float: center;
  }
.active{
    color: azure; 
}